services:
  its-certcenter:
    image: 192.168.100.63:5000/its-certcenter
    container_name: its-certcenter
    ports:
    - "9250:9250"
    environment:
    - ACME_ACCOUNT=itsower567@gmail.com
    - ACME_DNS_API=https://auth.acme-dns.io/register
    volumes:
    - certcenter-data:/certcenter # 持久化儲存憑證和 acme-dns 註冊資訊
    - acme-data:/root/.acme.sh # 持久化儲存 ACME 帳戶金鑰和配置
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9250/acmeRegInfo" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  certcenter-data:
    name: certcenter-data
  acme-data:
    name: acme-data
